In [1]:
import pandas as pd

Открываем датасет. Заметим, что в сsv файле

In [2]:
df_train = pd.read_csv("C://Users//yegor//Desktop//datatech_internship//model//X_data.csv", sep = ";",encoding= "windows - 1251")

Обзор первых 10 строк датасета

In [3]:
df_train.head(10)

,Unnamed: 0,T_data_1_1,T_data_1_2,T_data_1_3,T_data_2_1,T_data_2_2,T_data_2_3,T_data_3_1,T_data_3_2,T_data_3_3,T_data_4_1,T_data_4_2,T_data_4_3,T_data_5_1,T_data_5_2,T_data_5_3,H_data,AH_data
0,01.01.2015 0:00,212,210,211,347,353,347,474,473,481,346,348,355,241,241,243,167.85,сен.22
1,01.01.2015 0:01,212,211,211,346,352,346,475,473,481,349,348,355,241,241,243,162.51,сен.22
2,01.01.2015 0:02,212,211,211,345,352,346,476,473,481,352,349,355,242,241,242,164.99,сен.22
3,01.01.2015 0:03,213,211,211,344,351,346,477,473,481,355,349,355,242,241,242,167.34,сен.22
4,01.01.2015 0:04,213,211,211,343,350,346,478,473,482,358,349,355,243,241,242,163.04,сен.22
5,01.01.2015 0:05,213,211,211,342,350,346,479,473,482,360,349,354,243,241,242,163.81,сен.22
6,01.01.2015 0:06,213,212,211,341,349,346,480,473,482,363,350,354,244,241,242,166.14,сен.22
7,01.01.2015 0:07,213,212,211,340,348,345,482,473,482,365,350,354,244,241,242,164.38,сен.22
8,01.01.2015 0:08,213,212,211,339,347,345,483,473,482,367,350,354,244,241,242,163.89,сен.22
9,01.01.2015 0:09,213,212,211,338,347,345,484,473,483,369,350,354,245,241,242,162.82,сен.22

In [4]:
df_train.rename(columns = {"Unnamed: 0":"Date"},inplace = True)

In [5]:
df_train.head(10)

,Date,T_data_1_1,T_data_1_2,T_data_1_3,T_data_2_1,T_data_2_2,T_data_2_3,T_data_3_1,T_data_3_2,T_data_3_3,T_data_4_1,T_data_4_2,T_data_4_3,T_data_5_1,T_data_5_2,T_data_5_3,H_data,AH_data
0,01.01.2015 0:00,212,210,211,347,353,347,474,473,481,346,348,355,241,241,243,167.85,сен.22
1,01.01.2015 0:01,212,211,211,346,352,346,475,473,481,349,348,355,241,241,243,162.51,сен.22
2,01.01.2015 0:02,212,211,211,345,352,346,476,473,481,352,349,355,242,241,242,164.99,сен.22
3,01.01.2015 0:03,213,211,211,344,351,346,477,473,481,355,349,355,242,241,242,167.34,сен.22
4,01.01.2015 0:04,213,211,211,343,350,346,478,473,482,358,349,355,243,241,242,163.04,сен.22
5,01.01.2015 0:05,213,211,211,342,350,346,479,473,482,360,349,354,243,241,242,163.81,сен.22
6,01.01.2015 0:06,213,212,211,341,349,346,480,473,482,363,350,354,244,241,242,166.14,сен.22
7,01.01.2015 0:07,213,212,211,340,348,345,482,473,482,365,350,354,244,241,242,164.38,сен.22
8,01.01.2015 0:08,213,212,211,339,347,345,483,473,482,367,350,354,244,241,242,163.89,сен.22
9,01.01.2015 0:09,213,212,211,338,347,345,484,473,483,369,350,354,245,241,242,162.82,сен.22

Обзор колонок датасета

In [6]:
df_train.columns

Index(['Date', 'T_data_1_1', 'T_data_1_2', 'T_data_1_3', 'T_data_2_1',
       'T_data_2_2', 'T_data_2_3', 'T_data_3_1', 'T_data_3_2', 'T_data_3_3',
       'T_data_4_1', 'T_data_4_2', 'T_data_4_3', 'T_data_5_1', 'T_data_5_2',
       'T_data_5_3', 'H_data', 'AH_data'],
      dtype='object')

In [7]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 18 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   Date        1048575 non-null  object
 1   T_data_1_1  1048575 non-null  int64
 2   T_data_1_2  1048575 non-null  int64
 3   T_data_1_3  1048575 non-null  int64
 4   T_data_2_1  1048575 non-null  int64
 5   T_data_2_2  1048575 non-null  int64
 6   T_data_2_3  1048575 non-null  int64
 7   T_data_3_1  1048575 non-null  int64
 8   T_data_3_2  1048575 non-null  int64
 9   T_data_3_3  1048575 non-null  int64
 10  T_data_4_1  1048575 non-null  int64
 11  T_data_4_2  1048575 non-null  int64
 12  T_data_4_3  1048575 non-null  int64
 13  T_data_5_1  1048575 non-null  int64
 14  T_data_5_2  1048575 non-null  int64
 15  T_data_5_3  1048575 non-null  int64
 16  H_data      1048575 non-null  float64
 17  AH_data     1048575 non-null  object
dtypes: float64(1), int64(15), object(2)
memory usage: 144.0+ MB

In [8]:
df_train["AH_data"].unique()

array(['сен.22', 'июл.82', '06.мар', 'авг.36', '07.фев', 'июл.14',
       'июн.77', 'июл.86', 'авг.18', 'июн.28', 'июл.45', 'сен.19',
       'июл.38', 'сен.27', 'авг.77', 'июл.29', '8.030000000000001',
       'июл.19', '09.дек', 'авг.22', 'апр.38', 'июл.26', 'июн.67',
       'июн.22', 'июл.77', 'окт.33', 'авг.65', '08.фев', 'май.38',
       'окт.66', 'окт.19', 'май.91', 'июл.48', 'июл.93', 'июн.33',
       'июн.79', '06.сен', 'июн.51', 'июн.97', 'июл.27', '05.сен',
       'авг.23', 'июл.83', 'авг.57', '06.авг', 'июл.69', 'июл.21',
       '08.июл', 'июн.32', '7.949999999999999', 'сен.57', 'авг.46',
       'июл.65', 'июн.81', 'авг.39', '09.янв', 'июн.69', '08.сен',
       '07.июл', 'авг.25', 'июн.75', 'сен.83', 'авг.16', 'авг.15',
       'май.84', '06.июл', 'апр.73', '07.сен', 'июн.96',
       '7.109999999999999', 'июл.97', 'июл.71', 'авг.63', 'июл.78',
       'июл.17', 'июн.43', 'июл.52', 'авг.59', 'июн.47', 'июл.24',
       'сен.58', 'июл.84', 'июл.53', '10.ноя', 'июн.63', '08.май',
       'июл.75', 'май.26', 'июл.95', 'июл.62', 'сен.16', 'июн.89',
       'авг.64', 'сен.32', 'июл.98', '07.авг', 'июл.33', 'июл.91',
       '09.авг', '09.ноя', 'май.68', 'июл.44', 'июн.82',
       '8.280000000000001', 'июл.61', 'авг.98', 'июл.37', 'апр.95',
       'авг.92', 'сен.42', 'июл.99', 'июл.67', 'май.64', 'сен.25',
       'май.75', '07.апр', 'июн.24', 'май.88', 'май.29', '09.июл',
       'июл.55', 'июл.31', 'сен.15', 'июн.36', 'авг.78', 'сен.96',
       '06.дек', 'июл.74', 'июн.95', '07.май', 'июл.85', 'сен.67',
       'июл.15', 'июл.94', 'июл.39', 'сен.38', '08.июн', 'июл.58',
       'май.96', '6.0', 'июн.64', 'июл.81', 'июл.22', '06.июн', 'май.82',
       'июл.18', 'июн.83', 'июн.48', '05.дек', 'июл.13', 'июн.86',
       'сен.97', '08.авг', 'авг.82', 'июн.84', 'авг.37', 'авг.58',
       'сен.65', 'июн.74', '08.ноя', 'июн.26', 'авг.28', 'сен.88',
       'июл.56', 'июн.93', '07.ноя', 'июл.46', 'май.41', 'авг.32',
       'июн.65', 'авг.43', 'июл.68', '08.янв', 'авг.74', '06.янв',
       'май.16', 'июл.88', '7.0', 'май.78', 'июл.47', 'июл.49', 'июл.41',
       'июл.16', 'авг.34', 'июн.73', 'июл.89', 'авг.21', 'июн.34',
       'июл.79', 'июн.85', 'июн.59', 'июн.29', '09.июн', 'май.18',
       'июл.42', '09.сен', 'сен.23', 'май.89', 'июл.34', '05.мар',
       'июл.63', 'июн.71', 'июн.53', 'июл.57', 'апр.62', 'май.63',
       'авг.29', 'авг.42', 'июн.91', 'июн.68', 'сен.18', 'май.99',
       'авг.14', 'июн.76', 'июл.25', 'сен.86', 'июн.42', 'сен.79',
       'июн.66', '07.янв', 'май.19', 'авг.93', '07.мар', 'май.77',
       '05.июн', '06.май', 'май.48', 'июн.92', 'сен.66', 'июн.87',
       'июн.54', 'авг.96', 'июл.36', 'авг.66', 'сен.36', '08.апр',
       'авг.84', 'авг.91', '8.620000000000001', 'май.36', '09.фев',
       'июн.41', 'авг.72', 'авг.86', 'апр.57', 'авг.94', 'июн.15',
       'авг.48', 'авг.26', 'май.97', 'май.85', '07.июн', 'авг.75',
       'авг.68', 'авг.67', 'июн.37', 'май.71', 'авг.61', 'авг.45',
       '7.359999999999999', '8.379999999999999', 'июн.78', 'июн.56',
       '8.629999999999999', 'авг.33', 'авг.62', 'окт.74', 'авг.87',
       'май.17', 'авг.41', 'июн.94', 'июн.57', 'авг.88', 'авг.49',
       'июл.32', 'сен.99', 'июл.35', 'апр.75', '8.0', 'июн.19', 'авг.27',
       'май.15', 'июн.23', 'май.56', '10.авг', 'авг.97', 'авг.54',
       'июл.72', '7.779999999999999', '8.879999999999999', 'сен.94',
       'авг.47', 'июл.96', 'сен.84', 'авг.51', 'май.83', 'июл.66',
       '09.май', 'май.86', 'июн.18', 'июн.27', '08.дек', 'сен.52',
       'июн.17', '10.фев', 'май.62', 'авг.53', '7.199999999999999',
       '06.апр', 'июл.28', 'май.98', 'май.95', '8.059999999999999',
       'май.93', 'май.66', 'июн.46', '09.апр', 'сен.53', 'июн.55',
       'сен.24', 'июн.62', 'июн.61', 'авг.76', 'сен.71', 'июн.13',
       'сен.46', '05.июл', 'июн.21', 'апр.83', '10.мар', 'май.37',
       'май.45', 'сен.45', 'авг.35', 'апр.41', 'июл.51', 'сен.49',
       'авг.73', '05.янв', 'июл.87', 'июн.44', '8.530000000000001',
       'авг.24', 'июл.43', '7.289999999999999', 'июн.88', 'сен.62',
       'июн.39', 'май.53', 'июн.45', '05.фев', '10.сен', 'июн.98',
       '06.фев', 'май.79', 'авг.79', 'июн.35', '8.120000000000001',
       'июл.54', 'авг.52', 'апр.74', 'май.28', 'авг.99', '08.мар',
       'июл.92', 'авг.31', 'май.74', '7.859999999999999', 'сен.37',
       'сен.44', 'апр.22', 'июл.64', 'сен.47', 'май.92', 'сен.21',
       'май.43', 'авг.56', 'авг.69', 'сен.51', '7.550000000000001',
       'май.32', 'июн.72', 'май.39', 'июн.58', 'май.58', '06.ноя',
       'авг.38', '8.190000000000001', 'сен.34', 'авг.13', 'авг.95',
       'окт.71', 'июл.23', 'сен.75', '07.дек', 'апр.21',
       '8.690000000000001', 'окт.36', 'сен.59', 'сен.14',
       '7.0600000000000005', 'май.22', 'июл.73', 'сен.56', 'июл.76',
       'июл.59', 'июн.31', 'май.59', 'май.73', 'май.69', 'авг.83',
       'авг.17', '8.309999999999999', 'май.54', 'авг.71', 'сен.63',
       'май.24', 'июн.38', 'июн.99', 'сен.69', '05.ноя', 'апр.71',
       'июн.14', 'май.94', 'июн.25', '10.июн', '05.авг', 'апр.92',
       'май.49', '7.789999999999999', 'ноя.39', 'апр.98', 'авг.44',
       'сен.41', 'авг.55', 'май.65', 'май.27', 'сен.85', '9.0', 'авг.19',
       '09.мар', 'июн.52', 'сен.43', 'сен.87', 'май.61', 'апр.36',
       'сен.92', 'сен.33', 'окт.27', '7.880000000000001', '04.июн',
       'июн.49', 'ноя.31', '7.5600000000000005', 'авг.81', 'май.31',
       'сен.54', '7.630000000000001', 'авг.85', 'май.67',
       '7.119999999999999', '8.129999999999999', 'май.87', 'апр.79',
       'май.57', 'окт.53', 'окт.57', 'май.47', 'май.21',
       '7.800000000000001', 'авг.89', '8.719999999999999', '5.0',
       '7.890000000000001', 'апр.78', '7.619999999999999', 'окт.65',
       '7.050000000000001', 'май.42', '7.210000000000001', 'сен.17',
       'сен.31', '10.0', 'мар.41', '8.940000000000001', 'июн.16',
       '8.969999999999999', 'сен.35', 'апр.67', '7.449999999999999',
       'апр.85', 'май.51', '7.1899999999999995', 'сен.72', 'май.23',
       'окт.13', 'сен.64', '11.июл', 'окт.35', '8.440000000000001',
       '3.6100000000000003', '7.140000000000001', 'май.81', '04.авг',
       'май.76', 'сен.29', '8.219999999999999', '7.539999999999999',
       '7.220000000000001', '04.май', 'апр.96', 'апр.88',
       '7.380000000000001', '7.6899999999999995', 'окт.42', '10.июл',
       'окт.99', 'окт.16', 'сен.98', 'сен.89', 'апр.64', 'окт.23',
       '8.780000000000001', '04.апр', '7.130000000000001', 'апр.69',
       '05.май', '7.470000000000001', '7.3100000000000005', 'май.72',
       'апр.91', 'май.33', 'окт.14', 'май.35', '04.мар', 'апр.97',
       'окт.51', '7.300000000000001', 'май.25', '8.559999999999999',
       '7.460000000000001', 'сен.55', 'апр.72', '10.май', 'сен.73',
       'сен.74', 'мар.92', 'сен.68', 'апр.29', 'сен.28', 'окт.52', '4.0',
       'апр.87', 'окт.55', 'окт.32', 'апр.23', 'апр.93', '05.апр',
       'май.13', 'окт.29', 'сен.82', '7.390000000000001', 'сен.26',
       'сен.48', 'мар.79', 'май.14', 'сен.95', 'сен.77', 'май.34',
       '7.609999999999999', '8.469999999999999', 'окт.89', '04.сен',
       '7.369999999999999', '7.720000000000001', '7.279999999999999',
       '7.039999999999999', 'окт.94', '7.699999999999999', 'апр.68',
       'апр.51', 'апр.37', '03.дек', 'май.55', '7.9399999999999995',
       'окт.97', '8.809999999999999', 'апр.86', 'апр.56', 'окт.17',
       'сен.78', 'окт.41', 'май.52', 'апр.81', 'сен.81', 'май.46',
       'окт.22', '03.сен', '8.370000000000001', 'сен.91', 'апр.76',
       'ноя.29', 'окт.21', 'сен.61', '10.янв', '11.июн', 'сен.39',
       '7.970000000000001', 'окт.31', '10.дек', 'окт.45', 'апр.16',
       'апр.43', 'окт.15', 'апр.99', '7.529999999999999', 'апр.18',
       'мар.75', 'сен.13', '8.870000000000001', 'окт.28', 'ноя.52',
       '04.июл', 'ноя.43', 'окт.43', 'мар.96', 'окт.25', 'окт.26',
       '7.4399999999999995', 'окт.47', 'апр.65', 'апр.82', 'сен.93',
       '7.029999999999999', '3.5300000000000002', 'мар.99',
       '7.869999999999999', 'мар.74', 'апр.19', '11.дек', 'апр.26',
       '10.апр', 'окт.46', 'мар.94', 'апр.63', 'апр.94', 'апр.31',
       'ноя.28', 'май.44', '3.9000000000000004', 'окт.77', 'апр.49',
       'окт.79', 'окт.73', 'апр.89', 'апр.77', 'апр.42', 'окт.56',
       'апр.58', 'окт.18', '7.710000000000001', '3.1500000000000004',
       'апр.54', 'апр.47', 'апр.61', 'ноя.37', 'апр.35', 'апр.52',
       'ноя.22', '11.апр', 'окт.34', 'окт.59', '3.8899999999999997',
       '11.ноя', 'окт.54', 'ноя.25', 'мар.66', 'окт.68', '04.ноя',
       '7.960000000000001', '3.5700000000000003', 'окт.98',
       '7.640000000000001', 'апр.48', '3.8099999999999996', 'апр.66',
       'апр.28', 'окт.44', 'окт.88', 'окт.92', 'апр.44', 'ноя.16',
       '11.янв', 'окт.64', 'окт.49', 'окт.39', '3.7300000000000004',
       '3.9800000000000004', 'сен.76', 'окт.48', '7.8100000000000005',
       'окт.81', '11.фев', 'мар.83', 'апр.13', 'окт.95', 'апр.34',
       '4.890000000000001', '3.9400000000000004', 'апр.55'], dtype=object)